.navbar{
    background-color: #028fcc;
    margin-bottom: 1rem;
}
#main-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#login-tit{
    border-bottom: 1px solid #e5e5e5;
    color:rgb(51 ,51 ,51 ,0.7);
    font-size: 1.75rem;
    font-family: monospace;
}
#login{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 1rem;
}
#fetch{
    margin: auto;
}